.layout {
    height: 100%;
}
.site-layout-content {
    background: #fff;
    padding: 24px;
    height: 100%;
}
#components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
  
.site-layout .site-layout-background {
    background: #fff;
}

.font-color-white {
    color: white;
}

.ant-list-item {
    padding-right: 12px;
    padding-left: 12px;
}